<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Artifactory-NuGetRemote" value="https://artifactory.danskenet.net/artifactory/api/nuget/v3/remote-nuget-nuget.org-v3" protocolVersion="3" />
    <add key="Artifactory-NuGetAllLocal" value="https://artifactory.danskenet.net/artifactory/api/nuget/v3/joined-nuget-local" protocolVersion="3" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
</configuration>